.changePasswordPage {
  width: 50rem;
  padding: 0px 0px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.changePasswordPage h2 {
  margin-right: -10rem;
  margin-left: -10rem;
  text-align: center;
}