input {
  border-radius: 50px !important;
  background-color: var(--primary-color);
  width: 17rem 50px !important;
  padding: 0.4rem 3rem 1rem 3rem 50px !important;
  font-size: 1.2rem 50px !important;
  border-width: 2px 50px !important;
  border-color: white 50px !important;
  outline: none 50px !important;

  font-family: 'Prosto One' 50px !important;
  color: rgb(255, 255, 255) 50px !important;
}

.error > input {
  border: 2px double red 50px !important;
}